.wrapper {
  margin: 30px 40px;
  background-color: #ddd;
  padding: 10px;
}
.text {
  text-align: start;
}
.my-text {
  margin: 10px 0;
  background-color: #f4f4ff;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.my-text:hover {
  background-color: #333;
  color: #fff;
}
@media (max-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
